<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Campgrounds</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    
</head>
<body>
    <div class="container">
        <header class="jumbotron"> 
            <div class="container">
                <div class="text-center">
                        <h1>Welcome to Yelp Camp</h1>
                        <p>View hand-picked campgrounds from all over the world</p>
                        <p>
                            <a class="btn btn-primary btn-sm" href="/campgrounds/new">Add new campgrounds</a>
                        </p>
                </div>
                    
            </div>
            

        </header>
            
            
        <% campgrounds.forEach(function(campground){ %>
        <div class="container text-center">
            <h4><%=campground.name%></h4>
            <img class="img-thumbnail" style="height: 40%; width: 60%" src="<%=campground.image%>">
            </div>
        <%}); %>
        </div>
   
</body>
</html>