<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
<link rel="stylesheet" href="stylesheets/app.css">
<title>Blog App</title>
</head>
<body>
<h1>Index page</h1>

<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="terminal icon"></i> iBlog</div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
    </div>
</div>
<%blogs.forEach(function(blog){%>
    <div>
        <h2><%=blog.title%></h2>
        <img src="<%=blog.image%>">
        <span><%=blog.created%></span>
        <p><%=blog.body %></p>
    </div>
<% })%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>

